body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    width: 100%;
}

main {
    text-align: center;
    width: 90%; 
    margin-top: 20px;
}

section {
    margin: 20px 0;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    width: 100%;
}

form {
    text-align: center;
    margin-top: 20px;
}


@media screen and (max-width: 768px) {
    main {
        width: 95%; 
    }
}

@media screen and (max-width: 480px) {
    header {
        padding: 15px;
    }
    main {
        width: 100%; 
    }
    section {
        padding: 10px; 
    }
    form {
        margin-top: 10px;
    }
}
